---
title: "Physical aspects"
eleventyNavigation:
  key: Physical
  date: 12/08/20
layout: "main.njk"
tags: ["hulu"]
permalink: "{{ page.fileSlug }}.html"	
---

<!-- All the page content goes below here -->

<ul class="grid spaced">
  <li><a href="whattheydo.php">What does a healthy kidney do?<img src="images/anim.gif" class="animation" alt="ANIMATION" width="95" height="14" border="0" /></a></li>
  <li><a href="fail.php">What causes kidney failure?</a></li>
  <li><a href="happens.php">What happens when the kidneys fail?</a></li>
  <li><a href="symptoms.php">What are the symptoms of kidney failure?</a></li>
  <li><a href="tiredckd.php">Is tiredness a normal part of chronic kidney disease (CKD)?</a></li>
</ul>
