---
title: What causes kidney failure?
page:
  date: 12/08/20
eleventyNavigation:
  key: What causes kidney failure?
  parent: Physical
  order: 1
---

<!-- All the page content goes below here -->

<p>
  There are a number of known causes of kidney failure but in quite a lot of people the cause is never found. The commonest causes are <a href="glossary.php#Diabetes">diabetes</a>, high <a href="glossary.php#Blood_pressure">blood pressure</a> and a painless inflammation of the kidneys called <a href="glossary.php#Glomerulonephritis">glomerulonephritis</a>. There is a progressive loss of the filtering units (<a href="glossary.php#Nephrons">nephrons</a>) in the kidney.  
</p>
<p>
    
</p>
<p>
  Other common causes are the inherited condition of cysts in the kidneys (polycystic kidney disease); repeated kidney infections or kidney infections (<a href="glossary.php#Pyelonephritis">pyelonephritis</a>) in childhood; and obstruction to the <a href="glossary.php#Urine">urine</a> flow.  
</p>
<table cellpadding="20" cellspacing="10" width="100%">
  <tr>
    <td>
      <span class="bold">A quick summary of the common causes of kidney failure:</span> 
      <ul>
        <li>
          <a href="glossary.php#Diabetes">Diabetes</a> 
        </li>
        <li>
          High <a href="glossary.php#Blood_pressure">blood pressure</a> 
        </li>
        <li>
          <a href="glossary.php#Glomerulonephritis">Glomerulonephritis</a> 
        </li>
        <li>
          <a href="glossary.php#Polycystic">Polycystic kidney disease</a> 
        </li>
        <li>
          Scarring from kidney infection in childhood  
        </li>
        <li>
          Obstruction 
        </li>
      </ul>
    </td>
  </tr>
</table>
<p>
  For more information see &nbsp;<a href="specific.php">Specific kidney disorders</a> 
</p>
<p>
  <span class="small_link"><a href="physical.php">Back to The physical aspects of kidney failure</a></span> 
</p>

