---
title: What happens when the kidneys fail?
eleventyNavigation:
  key: What happens when the kidneys fail?
  parent: Physical
  order: 2
---

<!-- All the page content goes below here -->

<p>If the kidneys are damaged, they may carry on producing <a href="glossary.php#Urine">urine</a> but become less efficient at removing waste products from the blood. Instead, the waste products continue to circulate and build up in the bloodstream.  

</p>
<p>  

</p>
<p>At the same time, without the <a href="glossary.php#Hormone">hormones</a> that a healthy kidney would produce, the <a href="glossary.php#Bone_marrow">bone marrow</a> becomes less efficient at producing red cells, so <a href="glossary.php#Anaemia">anaemia</a> develops.  

</p>
<p>For some patients, this may be a very gradual process. Over time, however, it can cause quite a wide range of symptoms. Not everyone will experience all the symptoms. Also, because it can be such a gradual process, some people don't even realise the effect the symptoms are having until - with treatment - they begin to feel better.  

</p>
<p>Once the kidney problem has been diagnosed, regular blood tests will be required. Treatment with a variety of drugs may be needed, for example, to control <a href="glossary.php#Blood_pressure">blood pressure</a>.  

</p>
<p> Remember, your treatment may be changed quite frequently based on the results of your blood tests. You may require dialysis at some time in the future.  

</p>

<p><a href="symptoms.php">What are the symptoms of kidney failure?</a>  

</p>
<p><span class="small_link"><a href="physical.php">Back to The physical aspects of kidney failure</a></span>

</p>
<p><span class="small_link"><a href="whatTheySay.php#diagnosed">See also: What patients say..</a></span> 

</p>

