---
title: What are the symptoms of kidney failure?
eleventyNavigation:
  key: What are the symptoms of kidney failure?
  parent: Physical
  order: 3
---

<!-- All the page content goes below here -->


<table cellpadding="10" cellspacing="5" width="100%">
  <tr>
    <td>
      <span class="bold"> Some of the symptoms are:</span> 
      <ul>
        <li>
          <p>
            Generally feeling ill 
          </p>
        </li>
        <li>
          <p>
             lacking interest in everyday activities; difficulty in concentrating or relaxing 
          </p>
        </li>
        <li>
          <p>
            Tiredness and loss of energy  
          </p>
        </li>
        <li>
          <p>
            Shortness of breath 
          </p>
        </li>
        <li>
          <p>
            Altered taste sensation/appetite 
          </p>
        </li>
        <li>
          <p>
            Increased night-time <a href="glossary.php#Urine">urine</a> production 
          </p>
        </li>
        <li>
          <p>
            Sickness and nausea 
          </p>
        </li>
        <li>
          <p>
            Loss of libido/sex drive 
          </p>
        </li>
        <li>
          <p>
            Itch 
          </p>
        </li>
        <li>
          Swelling of the legs 
        </li>
      </ul>
    </td>
  </tr>
</table>
<span class="small_link"><a href="physical.php">Back to The physical aspects of kidney failure</a></span> 

