---
title: Is tiredness a normal part of chronic kidney disease (CKD)?
eleventyNavigation:
  key: Is tiredness a normal part of chronic kidney disease (CKD)?
  parent: Physical
  order: 4
---

<!-- All the page content goes below here -->

<table cellpadding="10" cellspacing="5" width="100%">
  <tr>
    <td>
      <span class="bold">Is tiredness a normal part of chronic kidney disease (CKD)?</span>
      <ul>
        <li>
          <p>The video below was developed with Professor Iain Mcdougall, the renowned Nephrologist and dialysis patient, as a free resource to educate patients with Chronic Kidney Disease about Anaemia. 
          </p>
          <p>
                                    <a href="https://www.youtube.com/watch?v=cxQxJHgUISE&feature=youtu.be"> Is tiredness a normal part of chronic kidney disease (CKD)?</a>
          </p>
        </li>
      </ul>
    </td>
  </tr>
</table>

<span class="small_link"><a href="physical.php">Back to The physical aspects of kidney failure</a></span> 

