---
title: Healthy kidney
eleventyNavigation:
  key: Healthy kidney
  parent: Physical
  order: 0
---

<!-- All the page content goes below here -->

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <a href="WRKanim.php"><img src="images/wg_02.gif" alt="Click here..." width="122" height="251" border="0" /></a> 
    </td>
    <td>
      <p>Most people have two kidneys, each about 10 centimetres (4 inches) long. They are positioned in the back of the body behind the lower ribs.</p>
      <p>A healthy kidney is basically a filtering system. In fact, each kidney is made up of about a million filtering units called <a href="glossary.php#Nephrons">nephrons</a>.</p> 
      <p><a href="WRKanim.php">Click here to find out where your Kidneys are<img src="images/anim.gif" class="animation" alt="ANIMATION" width="95" height="14" border="0" /></a></p> 
    </td>
  </tr>
</table>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td>
      <a href="HKWanim.php"><img src="images/hkwg_03.gif" alt="Click here..." width="183" height="247" border="0" /></a> 
    </td>
    <td>
      <p><a href="HKWanim.php">Click here to see how a kidney works<img src="images/anim.gif" class="animation" alt="ANIMATION" width="95" height="14" border="0" /></a></p> 
      <p>
        As blood passes through the kidneys, it is &quot;cleaned&quot; - the body's waste products and excess fluid are removed. These waste products, along with the excess fluid, are then sent through the <a href="glossary.php#Ureters">ureters</a> to the <a href="glossary.php#Bladder">bladder</a>. Then they are passed out of the body as <a href="glossary.php#Urine">urine</a>.
      </p> 
      <p>
        Healthy kidneys also balance the chemicals in the blood, and produce <a href="glossary.php#Hormone">hormones</a> which control <a href="glossary.php#Blood_pressure">blood pressure</a> and maintain healthy <a href="glossary.php#Blood_cells">blood cells</a> and bones.
      </p>
    </td>
  </tr>
</table>

<table cellpadding="20" cellspacing="5" width="100%">
  <tr>
    <td>
      <span class="bold">A quick summary of the functions of the kidney:</span> 
      <ul>
        <li>
          Acts as a filter system 
        </li>
        <li>
          Gets rid of waste products 
        </li>
        <li>
          Balances the body's fluid content 
        </li>
        <li>
          Produces <a href="glossary.php#Hormone">hormones</a> that control <a href="glossary.php#Blood_pressure">blood pressure</a> 
        </li>
        <li>
          Produces the hormone <a href="glossary.php#Erythropoietin">Erythropoietin</a> to help make red <a href="glossary.php#Blood_cells">blood cells</a> 
        </li>
        <li>
          Activates vitamin D to maintain healthy bones
        </li>
      </ul>
    </td>
  </tr>
</table>
<span class="small_link"><a href="physical.php">Back to The physical aspects of kidney failure</a></span> 

