---
title: How kidneys work animation
eleventyNavigation:
  key: How kidneys work animation
  parent: Healthy kidney
  order: 1
---

<!-- All the page content goes below here -->


<!--animation-->

<div id="v2hdkw3_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:400px;height:300px;overflow:hidden;">
  <script type="text/javascript" charset="utf-8" src="animations/HKW/v2hdkw3_hype_generated_script.js?32003"></script>
</div>

<p align="left">
   <b>Click on the green button above to start the animation</b>
</p>
<p>
   <a href="whattheydo.php">Click here to go to "What does a healthy kidney do?"</a>  
</p>

