---
title: Where are your kidneys animation
eleventyNavigation:
  key: Where are your kidneys animation
  parent: Healthy kidney
  order: 0
---

<!-- All the page content goes below here -->


<!--animation-->
<div id="v3wryk_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:250px;height:300px;overflow:hidden;">
  <script type="text/javascript" charset="utf-8" src="animations/WRK/v3wryk_hype_generated_script.js?81783"></script>
</div>

<p>
   Click on any of the question marks - where do you think the kidneys are?  
</p>
<p>
   <a href="whattheydo.php">Click here to go to "What does a healthy kidney do?"</a> 
</p>
<br />

